

#game-container-outer {
  position: relative;
  top: -60px;
  margin: 0 auto;
  width: 1200px;
  align-self: center;
  #title {
    position: relative;
    margin: 0 auto;
    color: $primaryColorOrange;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .small {
    width: 300px;
    height: 250px;
  }
  .medium {
    width: 450px;
    height: 350px;
  }
  .large {
    width: 600px;
    height: 500px;
  }
  #game-container-inner {
    position: relative;
    margin: 0 auto;
    #stats-row {
        @include flex-row(row, space-between);
        width: 100%;
        height: 50px;
        background-color: $primaryColorBlack;
        color: $primaryColorWhite;
        border: $primaryColorBlack solid 1px;
        #bombs {
          @include flex-row(row, flex-start);
          width: 30%;
           i:hover{
            color: $primaryColorWhite;
            cursor: default;
          }
        }
        #difficulty {
          position: relative;
          margin: 0 0 auto 10px;
          padding-right: 10px;
          width: 30%;
          font-size: 0.8em;
          background-color: $primaryColorBlack;
          text-align: right;
          #selected-difficulty {
            margin: 11px 0 0 0;
          }
        }
        #options{
          padding: 20px 0 10px 0;
          font-size: 0.9em;
          h2 {
            margin: auto 0;
            padding-bottom: 5px;
            &:hover {
              background-color: $primaryColorOrange;
            }
          }
          hr {

          }
        } .hidden {
            visibility: hidden;
            display: none;
        }
    }
    #grid {
      @include flex-row(row, flex-start);
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      border: $primaryColorBlack solid 1px;
      z-index: 0;
      .cell {
        width: 25px;
        height: 25px;
        color: $primaryColorWhite;
        .fa-bomb {
          color: $primaryColorLightOrange;
          padding: 0 0 0 1px;
          width: 90%;
        }
      }
      .light-cell {
        background-color: #415F82;
        // filter: brightness(110%);
        &:hover {
          cursor: pointer;
          filter: brightness(120%);
        }
      }
      .dark-cell {
          background-color: #465881;
          // filter: brightness(100%);
          &:hover {
            cursor: pointer;
            filter: brightness(95%);
          }
      }
      .safe {
        background-color: green;
      }
      .bomb {
        background-color: $primaryColorBlack;
      }
    }
  }
}
