

#game-container-outer {
  position: relative;
  top: -60px;
  margin: 0 auto;
  width: 1200px;
  align-self: center;
  #title {
    position: relative;
    margin: 0 auto;
    color: $primaryColorOrange;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.1em;
  }
  .small {
    width: 300px;
  }
  .medium {
    width: 450px;
  }
  .large {
    width: 600px;
  }
  #game-container-inner {
    position: relative;
    margin: 0 auto;
    // border: 1px solid $primaryColorBlack;
    #stats-row {
        @include flex-row(row, space-between);
        width: 100%;
        height: 50px;
        background-color: $primaryColorBlack;
        color: $primaryColorWhite;
        // border: $primaryColorBlack solid 1px;
        #bombs {
          @include flex-row(row, flex-start);
          width: 30%;
           i:hover{
            color: $primaryColorWhite;
            cursor: default;
          }
        }
        #difficulty {
          position: relative;
          margin: 0 0 auto 10px;
          padding-right: 10px;
          width: 30%;
          font-size: 0.8em;
          background-color: $primaryColorBlack;
          text-align: right;
          #selected-difficulty {
            margin: 11px 0 0 0;
          }
        }
        #options{
          padding: 20px 0 10px 0;
          font-size: 0.9em;
          h2 {
            margin: auto 0;
            padding-bottom: 5px;
            &:hover {
              background-color: $primaryColorOrange;
            }
          }
        } .hidden {
            visibility: hidden;
            display: none;
        }
    }
    #grid {
      @include flex-row(row, flex-start);
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      // border: $primaryColorBlack solid 1px;
      z-index: 0;
      .cell {
        width: 25px;
        height: 25px;
        box-sizing: border-box;
        padding-top: 2px;
        color: $primaryColorGrey;
        font-family: $minesweeperGrid;
        text-align: center;
        .fa-bomb {
          color: $primaryColorLightOrange;
          padding: 0 0 0 1px;
          width: 90%;
        }
      }
      .light-cell {
        background-color: #415F82;
        &:hover {
          cursor: pointer;
          filter: brightness(120%);
        }
      }
      .dark-cell {
          background-color: #465881;
          &:hover {
            cursor: pointer;
            filter: brightness(95%);
          }
      }
      .safe-light {
        background-color: $primaryColorlightGreen;
      }
      .safe-dark {
        background-color: $primaryColorDarkGreen;
      }
      .bomb {
        background-color: $primaryColorBlack;
        padding: 0;
      }
    }
    #game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      height: auto;
      width: 50%;
      transform: translate(-50%, -50%);
      color: $primaryColorWhite;
      background-color: $primaryColorBlack;
      opacity: 90%;
      text-align: center;

      // .game-over-show {
      //
      // }
      #start-again {
        @include flex-row(row, centre);
        background-color: $primaryColorBlack;
        width: 100%;
        height: 50px;
        background-color: $primaryColorOrange;
        button {
          width: 100%;
          font-size: 1.1em;
          font-family: montserrat-600;
          background-color: $primaryColorOrange;
        } button:hover {
          color: $primaryColorGrey;
        }
      }
    } .hidden {
        visibility: hidden;
        display: none;
        font-size: 100px;
    }
  }
}
