.container {
  // margin:0;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  @include flex-row(row, centre)
}

.game-grid {
  @include flex-row(row, space-around);
  flex-wrap: wrap;
  margin: auto;
  width: 1200px;
  .game-container {
    @include flex-row(column, centre);
    margin: 20px;
    height: 300px;
    width: 300px;
    &:hover {
      cursor: pointer;
    }
    .game-picture {
      height: 300px;
      width: 300px;
    }
  }
}

#cards {
  background: url("../imgs/cards-icon.png");
  background-repeat: no-repeat;
  background-size: 300px;
}
#dice {
  background: url("../imgs/dice-icon.png");
  background-repeat: no-repeat;
  background-size: 300px;
}
#minesweeper {
  background: url("../imgs/bomb-icon.png");
  background-repeat: no-repeat;
  background-size: 300px;
}
#pacman {
  background: url("../imgs/pacman-icon.png");
  background-repeat: no-repeat;
  background-size: 300px;
}
#dominoes {
  background: url("../imgs/dominoes-icon.png");
  background-repeat: no-repeat;
  background-size: 300px;
}
#rps {
  background: url("../imgs/rps-icon.png");
  background-repeat: no-repeat;
  background-size: 300px;
  border-radius: 150px;
}
