#menu-outer {
  background-color: $primaryColorOrange;
  padding: 0;
  date-component {
    height: 50px;
    background-color: $primaryColorBlack;
  }
  #date-container {
    padding: 10px 0;
    background-color: $primaryColorBlack;
    color: $primaryColorOrange;
    width: 100%;
    height: 100%;
    background-color: $primaryColorBlack;
    #date, #time {
    padding-left: 10px;
    }
  } #menu {
      @include flex-row(row, space-between);
      align-items: flex-start;
      .menu-options {
        @include flex-row(column, space-between);
        background-color: $primaryColorOrange;
        overflow: hidden;
        flex-wrap:nowrap;
        height: 100vh;
      } .hide-btn {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 240px;
        } #menu-btn {
          @include flex-row(row, space-around);
          // white-space: nowrap;
          // padding-right: 10px;
          width: 100%;
        } @keyframes menu-btn-in{
          from {width: 240px;}
          to {width: 40px;}
            from {padding: 0 50px;}
            to {padding: 0 0;}
        } @keyframes menu-btn-out{
          from {width: 40px;}
          to {width: 240px;}
          from {padding: 0 0;}
          to {padding: 0 50px;}
        } .menu-btn-in {
            animation-name: menu-btn-in;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        } .menu-btn-out {
            animation-name: menu-btn-out;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
      }
    h1 {
      margin: 10px 0 5px 0;
    }
    ul {
      margin: 0;
      padding-left: 0;
      width: 100%;
    a {
      padding-left: 15px;
      display: inline-block;
      width: 100%;
    }
  }
  @keyframes menu-inn{
    from {width: 180px;}
    to {width: 0;}
    from {padding: 0 10px;}
    to {padding: 0 0;}
  }
  @keyframes menu-outt{
    from {width: 0;}
    to {width: 180px;}
    from {padding: 0 0;}
    to {padding: 0 10px;}
  }
  .menu-out {
    animation-name: menu-outt;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  .menu-in {
    animation-name: menu-inn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

// nav-menu code to collapse/expand
@keyframes menu-hide {
  from {width: 240px;}
  to {width: 40px;}
}

.menu-hidden {
  animation-name: menu-hide;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  justify-content: flex-end;
}

@keyframes menu-show {
  from {width: 40px;}
  to {width: 240px;}
}

.menu-show {
  animation-name: menu-show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  justify-content: flex-end;
}

// Burger Menu code to interact and hide/close
burger-component {
  width: 40px;
  height: 100vh;
  background-color: $primaryColorBlack !important;
} i{
  color: $primaryColorWhite;
  border: none;
    &:hover {
      cursor: pointer;
      color: $primaryColorOrange;
    }
  }
  #burger-menu {
  width: auto;
}

@keyframes burger-show {
  from {opacity: 0;}
  to {opacity: 100%;}
  from {width: 0;}
  to {width: 40px;}
}

.burger-menu-show  {
  animation-name: burger-show;
  animation-duration: 0.2s;
  @include flex-row(row, space-between);
  align-items: flex-start;
  height: 100vh;
  background-color: $primaryColorBlack;

  }

@keyframes burger-hide {
  from {opacity: 100%;}
  to {opacity: 0;}
}

.burger-menu-hidden  {
  animation-name: burger-hide;
  animation-fill-mode: forwards;
}

@keyframes opacity {
  from {opacity:0;}
  to {opacity: 100%}
}

i {
  animation-name: opacity;
  animation-duration: 1s;
}
