html, body {
  margin: 0;
  color: $primaryColorBlack;
  background-color: $primaryColorGrey;
  position: relative;
  height: 100%;
  width: 100%;
  overflow:hidden;
  font-family: $fontMainLight;
  font-size: 16px;
}

footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

nav {
  width: 100%;
}

h1 {
  font-size: 2em;
  white-space: nowrap;
}

i {
  padding: 10px;
  font-size: 1.5em;
}

li {
  list-style: none;
  line-height: 1.5;
  white-space: nowrap;
}

a {
  text-decoration: none;
  color: $primaryColorBlack;
} a:hover {
    color: $primaryColorWhite;
    background-color: $primaryColorGrey;

}
