button {
  color: $primaryColorWhite;
  background-color: $primaryColorBlack;
  padding: 15px 20px;
  border: none;
  border-radius: 31px;
    &:hover {
      background-color: $primaryColorOrange;
      color: $primaryColorBlack;
    }
  }

.menu {
  background-color: $primaryColorOrange;
  padding: 0;
  h1 {
    margin: 10px 0 5px 0;
    padding-left: 5px
  }
  ul {
    margin: 0;
    padding-left: 0;
    width: 100%;
    a {
      padding-left: 15px;
      display: inline-block;
      width: 100%;
    }
  }
}
